data/
notes/
previous_tests/eq2d/model/
previous_tests/test2/model/
previous_tests/test3/model/
previous_tests/test4/model/
previous_tests/test5/model/
previous_tests/test6/model/
previous_tests/test7/model/
previous_tests/test_airfoil/model/
previous_tests/test_rot90degree/figure/
previous_tests/test11/figure/
previous_tests/test12/figure/
test_PhyHGkNN/figure/
test_PhyHGkNN2/figure/
test_PhyHGkNN3/figure/
test_PhyHGkNN4/figure/
test_PhyHGkNN5/figure/
test_PhyHGkNN3/para/
test_PhyHGkNN4/para/
test_PhyHGkNN5/para/
test_base_appro/figure/
test_base_appro/para/
.DS_Store
models/__pycache__/
previous_tests/baselines/__pycache__/
