data/

__previous_tests/test_PhyHGkNN/figure/
__previous_tests/test_PhyHGkNN2/figure/
__previous_tests/test_PhyHGkNN3/figure/
__previous_tests/test_base_appro/figure/
__previous_tests/test_base_appro/para/
__previous_tests/test_base_appro2/figure/
__previous_tests/test_base_appro2/para/
test_PhyHGkNN4/figure/
test_PhyHGkNN5/figure/
test_PhyHGkNN3/para/
test_PhyHGkNN4/para/
test_PhyHGkNN5/para/


.DS_Store
models/__pycache__/

test_car2/figure/
test_car2/para/
test_car1/figure/
test_car1/para/
GPGkNN2/figure/
GPGkNN/figure/
GPGkNN/para/
GPGkNN2/para/