
（train_k = test_k对应n_test = 200,  train_k != test_k对应n_test = 1000）

# equal_weight:  True

## train_k: 0e+00
test_k: -1e+02  
 Rel. Test L2 Loss :  0.1630609223842621  Test L2 Loss :  0.0682412143945694

test_k: -1e+01  
 Rel. Test L2 Loss :  0.11741882276535034  Test L2 Loss :  0.04976861166954041

test_k: -1e+00  
 Rel. Test L2 Loss :  0.016004722774028778  Test L2 Loss :  0.007307830289006233

test_k: 0e+00  
 Rel. Test L2 Loss :  0.004360488280653953  Test L2 Loss :  0.0020063363946974276

test_k: 1e+00  
 Rel. Test L2 Loss :  0.015233756810426711  Test L2 Loss :  0.007196467012166977

test_k: 1e+01  
 Rel. Test L2 Loss :  0.10630870079994202  Test L2 Loss :  0.04624051153659821

test_k: 1e+02  
 Rel. Test L2 Loss :  0.15013070154190064  Test L2 Loss :  0.06400312948226929






## train_k: 1e+00
test_k: -1e+02  
 Rel. Test L2 Loss :  0.10534674561023712  Test L2 Loss :  0.04683588016033172

test_k: -1e+01  
 Rel. Test L2 Loss :  0.0711429316997528  Test L2 Loss :  0.032091397404670714

test_k: -1e+00  
 Rel. Test L2 Loss :  0.014540854096412658  Test L2 Loss :  0.006502973273396492

test_k: 0e+00  
 Rel. Test L2 Loss :  0.008612191841006278  Test L2 Loss :  0.003916685111820698

test_k: 1e+00  
 Rel. Test L2 Loss :  0.006883985921740532  Test L2 Loss :  0.003102221321314573

test_k: 1e+01  
 Rel. Test L2 Loss :  0.05583623659610748  Test L2 Loss :  0.025352511793375016

test_k: 1e+02  
 Rel. Test L2 Loss :  0.09068531012535096  Test L2 Loss :  0.04003254508972168







## train_k: 1e+01

test_k: -1e+02  
 Rel. Test L2 Loss :  0.08295891332626343  Test L2 Loss :  0.035260249882936474

test_k: -1e+01  
 Rel. Test L2 Loss :  0.05677236819267273  Test L2 Loss :  0.024105255365371704

test_k: -1e+00  
 Rel. Test L2 Loss :  0.03351827090978622  Test L2 Loss :  0.014685536339879035

test_k: 0e+00  
 Rel. Test L2 Loss :  0.03455391949415207  Test L2 Loss :  0.015226075321435929

test_k: 1e+00  
 Rel. Test L2 Loss :  0.03107195621728897  Test L2 Loss :  0.013565909639000893

test_k: 1e+01  
 Rel. Test L2 Loss :  0.01362275443971157  Test L2 Loss :  0.006045225076377392

test_k: 1e+02  
 Rel. Test L2 Loss :  0.03157129839062691  Test L2 Loss :  0.013894075334072113









## train_k: 1e+02

test_k: -1e+02  
 Rel. Test L2 Loss :  0.08715134024620057  Test L2 Loss :  0.0368736589550972

test_k: -1e+01  
 Rel. Test L2 Loss :  0.06667531573772431  Test L2 Loss :  0.02783947166800499

test_k: -1e+00  
 Rel. Test L2 Loss :  0.054561071813106536  Test L2 Loss :  0.022763475865125657

test_k: 0e+00  
 Rel. Test L2 Loss :  0.05506980073451996  Test L2 Loss :  0.023182261794805526

test_k: 1e+00  
 Rel. Test L2 Loss :  0.051581703960895536  Test L2 Loss :  0.021686879277229308

test_k: 1e+01  
 Rel. Test L2 Loss :  0.025952722907066347  Test L2 Loss :  0.01084058478474617

test_k: 1e+02  
 Rel. Test L2 Loss :  0.016180988997220994  Test L2 Loss :  0.0070023838430643085












# equal_weight:  False

## train_k: 0e+00

test_k: -1e+02  
 Rel. Test L2 Loss :  0.029509790480136872  Test L2 Loss :  0.012660923048853873

test_k: -1e+01  
 Rel. Test L2 Loss :  0.0065525687262415885  Test L2 Loss :  0.0029393595196306704

test_k: -1e+00  
 Rel. Test L2 Loss :  0.0029571349434554576  Test L2 Loss :  0.0013471098374575378

test_k: 0e+00  
 Rel. Test L2 Loss :  0.0027069296315312386  Test L2 Loss :  0.001281032133847475

test_k: 1e+00  
 Rel. Test L2 Loss :  0.002957996502518654  Test L2 Loss :  0.0013393760304898023

test_k: 1e+01  
 Rel. Test L2 Loss :  0.00687587708234787  Test L2 Loss :  0.003100612871348858

test_k: 1e+02  
 Rel. Test L2 Loss :  0.031042497903108597  Test L2 Loss :  0.01354675842821598









## train_k: 1e+00

test_k: -1e+02  
 Rel. Test L2 Loss :  0.028141517639160157  Test L2 Loss :  0.012147925920784473

test_k: -1e+01  
 Rel. Test L2 Loss :  0.006235783725976944  Test L2 Loss :  0.0028206922300159933

test_k: -1e+00  
 Rel. Test L2 Loss :  0.002831818051636219  Test L2 Loss :  0.0013075935933738946

test_k: 0e+00  
 Rel. Test L2 Loss :  0.002703646693378687  Test L2 Loss :  0.0012458485057577492

test_k: 1e+00  
 Rel. Test L2 Loss :  0.002960600312799215  Test L2 Loss :  0.0014408989157527685

test_k: 1e+01  
 Rel. Test L2 Loss :  0.006443670198321342  Test L2 Loss :  0.0029241265691816805

test_k: 1e+02  
 Rel. Test L2 Loss :  0.02989829531311989  Test L2 Loss :  0.013127414003014565







## train_k: 1e+01

test_k: -1e+02  
 Rel. Test L2 Loss :  0.012376388266682624  Test L2 Loss :  0.005664513483643532

test_k: -1e+01  
 Rel. Test L2 Loss :  0.0037307019010186194  Test L2 Loss :  0.0017165325321257115

test_k: -1e+00  
 Rel. Test L2 Loss :  0.0032104594483971594  Test L2 Loss :  0.0015089197773486376

test_k: 0e+00  
 Rel. Test L2 Loss :  0.0031894224397838117  Test L2 Loss :  0.0015110869277268648

test_k: 1e+00  
 Rel. Test L2 Loss :  0.0031422314047813414  Test L2 Loss :  0.0014882069732993842

test_k: 1e+01  
 Rel. Test L2 Loss :  0.00371440589427948  Test L2 Loss :  0.001766510447487235

test_k: 1e+02  
 Rel. Test L2 Loss :  0.012049965977668763  Test L2 Loss :  0.005650161385536194







## train_k: 1e+02


test_k: -1e+02  
 Rel. Test L2 Loss :  0.005566533289849758  Test L2 Loss :  0.0025490108989179136

test_k: -1e+01  
 Rel. Test L2 Loss :  0.003937550462782383  Test L2 Loss :  0.0018308096528053283

test_k: -1e+00  
 Rel. Test L2 Loss :  0.004244038019329309  Test L2 Loss :  0.001962794981896877

test_k: 0e+00  
 Rel. Test L2 Loss :  0.004242391221225262  Test L2 Loss :  0.0019696575067937373

test_k: 1e+00  
 Rel. Test L2 Loss :  0.0041640976518392565  Test L2 Loss :  0.001934160003438592

test_k: 1e+01  
 Rel. Test L2 Loss :  0.003806102976202965  Test L2 Loss :  0.0017737374268472195

test_k: 1e+02  
 Rel. Test L2 Loss :  0.004852191731333733  Test L2 Loss :  0.0023262922465801237







# other tests
equal_weight = False:  
n_test = 1000  
## same data with the same points distribution 
train_k: 0e+00  
test_k: 0e+00  
 Rel. Test L2 Loss :  0.0005993906781077385  Test L2 Loss :  0.000273897054605186

## same data with different points distribution 
train_k: 0e+00  
test_k: 1e+02  
 Rel. Test L2 Loss :  0.027729577273130416  Test L2 Loss :  0.012414094671607017